li {
 list-style: none;
}
.cat {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.card {
width: 600px;
height: 350px;
border-radius: 10px;
  margin-bottom: 15px;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2); 
}
#validation-input {
  border: 3px solid #bdbdbd;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}